*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}
li a{
     color: white !important;
}
.box{
    width: 160vh;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 0 auto;
    margin-left: 250px;
}
img{
    background-color: rgba(0, 0, 0, 0.781);
}
.present1{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/1.son\ [].png') ;
    background-size: cover;
}
.present1 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present2{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/3.sichqon.png') ;
    background-size: cover;
}
.present2 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present3{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/3.1\ baraman.png') ;
    background-size: cover;
}
.present3 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present4{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/4.1\ element\ yaratish.png') ;
    background-size: cover;
}
.present4 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present5{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/5.element\ qo`shish.png') ;
    background-size: cover;
}
.present5 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present6{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/6\ qo`shish\ vs\ ayrish.png') ;
    background-size: cover;
}
.present6 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present7{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/7.mashina.jpg') ;
    background-size: cover;
}
.present7 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present8{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/8.ball.jpg') ;
    background-size: cover;
}
.present8 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present9{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/9.havonlar.webp') ;
    background-size: cover;
}
.present9 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present10{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/11.login.avif') ;
    background-size: cover;
}
.present10 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present11{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/12.hayvon.jpg') ;
    background-size: cover;
}
.present11 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present12{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/1.son\ [].png') ;
    background-size: cover;
}
.present12 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present13{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/1.son\ [].png') ;
    background-size: cover;
}
.present13 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present14{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/14.click.png') ;
    background-size: cover;
}
.present14 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present15{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/15.mebel.webp') ;
    background-size: cover;
}
.present15 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present16{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/16.test.png') ;
    background-size: cover;
}
.present16 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present17{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/17.imtxon.png') ;
    background-size: cover;
}
.present17 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present18{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/18.dom\ dom.jpg') ;
    background-size: cover;
}
.present18 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present19{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/19.boriga\ baraka.jpg') ;
    background-size: cover;
}
.present19 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present20{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/20.x\ vs\ o.avif') ;
    background-size: cover;
}
.present20 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present21{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/21.png') ;
    background-size: cover;
}
.present21 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present22{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/22.jpg') ;
    background-size: cover;
}
.present22 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present23{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/23.png') ;
    background-size: cover;
}
.present23 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present24{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/24.jpg') ;
    background-size: cover;
}
.present24 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present25{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/25.jpg') ;
    background-size: cover;
}
.present25 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present26{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/26.png') ;
    background-size: cover;
}
.present26 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present27{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/27') ;
    background-size: cover;
}
.present27 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present28{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/28.jfif') ;
    background-size: cover;
}
.present28 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present29{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/29.jpg') ;
    background-size: cover;
}
.present29 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present30{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/30.jpg') ;
    background-size: cover;
}
.present30 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present31{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/31') ;
    background-size: cover;
}
.present31 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present32{
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-image: url('img/32.jpg') ;
    background-size: cover;
}
.present32 li{
    background-color: rgba(0, 0, 0, 0.492);
    height: 100%;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.present{
    flex-wrap: wrap;
    width: 350px;
    height: 180px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.621);
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
}
.play li:hover{
    background-color: rgba(0, 0, 0, 0.305);
}
.present:hover{
    background-color: rgba(0, 0, 0, 0.489);
}
.present a{
    color: white;
}
.my-text{
    margin: 50px 0 50px 0;
    font-size: 20px;

}
.home-text{
    margin: 50px 0 50px 0;
    color: black;
}
.fa-brands{
    width: 300px;
    height: 40px;
    border: 2px solid black;
    border-radius: 10px;
    gap: 50px;
    padding-top: 10px;
    margin-bottom: 50px;
    font-family: sans-serif;
    font-size: 18px;
    text-decoration: none;
    gap: 10px;
}
.fa-brands a{
    color: black;
}
.linked{
    width: 1000px;
    margin: -35px auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.fa-instagram, .fa-telegram, .fa-facebook{
    list-style: 30px;
    color: black;
}
p{
    text-align: center;
    margin-top: -40px;
    color: rgba(0, 0, 0, 0.536);
}