* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    height: 80vh;
    border: 1px solid red;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.ball {
    width: 50px;
    height: 50px;
    background-image: url('img/football.png');
    background-size: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
