*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
}
.p1{
    background-color: blue;
    color: white;
    width: 300px;
    height: 500px;
    
}
.p2{
    background-color: yellow;
    color: white;
    font-size: 50px;
    width: 300px;
    height: 500px;
}
.p3{
    background-color: black;
    color: white;
    font-size: 50px;
    width: 300px;
    height: 500px;
}
.text1{
    display: flex;
    justify-content: space-around;
}
input{
    width: 80%;
    height: 50px;
    text-align: center;
    border: 2px solid black;
}
.box{
    text-align: center;
}
.p1 , .p2 , .p3{
    font-size: 70px;
    text-align: center;
    margin-top: 30px;
    line-height: 370px;
}
.back{
    display: flex;
    align-items: flex-end;
    margin-top: 100px;
}
a{
    color: black;
}