*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: serif;
}
body{
    background-color: #AAA;
}
.title{
    text-align: center;
    padding: 10px;
}
.words{
    text-align: center;
}
.word{
    text-decoration: underline;
    padding: 10px;
    font-weight: bold;
}
.game-display{
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    width: 60%;
    height: 80vh;
    margin: 10px auto;
}
.latter{
    cursor: pointer;
    border: 1px solid red;
    width: 10%;
    height: 12%;
    text-align: center;
    line-height: 10vh;
    font-size: 40px;
    font-weight: bold;
    color: white;

}